*{margin:0; padding:0;}
body{
    text-align: center;
}
.corkock{
    background-color: #f9f6ed;
}
.senal{
    background-color: #fff4c9;
}
ul{list-style:none; 
position:fixed;
bottom:50px;
right:50px;
text-align:center;}
ul li{
    margin: 10px;
}
ul li a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.senal_btn li a{
    background: #ea7f2e;
}
a{text-decoration:none; color:#fff;}
img{width:1320px; display: block; margin: auto;}

.corkock_btn> li{
    margin: 10px 0;
}
.corkock_btn> li img{
    width: auto;
}
.corkock_btn> li a{
    box-shadow: none;
    padding: 0px 0px;
    border-radius: 0px;
}